{
  "presets": [
    [
      "@babel/preset-env",
      {
        "loose": true
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": [
        "@babel/transform-modules-commonjs"
      ]
    }
  }
}